
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";

}
<body style="text-align:center;">
    <h2>Booking successfully!!</h2>
    <h4>We're coming! </h4>
    <a class="btn btn-success" href="@Url.Action("DV","HomeCustomer")">Continue booking</a>
</body>


